<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Association Gozpeak {% endblock %}</title>

    {% block stylesheets %}
      <!-- PERSONAL FONT -->
      <link rel="stylesheet" type="text/css" href="{{ asset('fonts/typo/noteworthy.ttc') }}">

      <!-- BOOTSTRAP STYLES -->
      <link rel=stylesheet type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}">
      <link rel=stylesheet type="text/css" href="{{ asset('css/bootstrap4.min.css') }}">

      <!-- FONT AWESOME AND JQUERY -->
      <link rel=stylesheet type="text/css" href="{{ asset('css/font-awesome.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.min.css') }}">

      <!-- PERSONAL STYLE -->
      <link rel=stylesheet type="text/css" href="{{ asset('css/generic.css') }}">
      <link rel=stylesheet type="text/css" href="{{ asset('css/modals.css') }}">
      <link rel=stylesheet type="text/css" href="{{ asset('css/home.css') }}">
      <!-- <link rel=stylesheet type="text/css" href="{{ asset('css/list.css') }}">
      <link rel=stylesheet type="text/css" href="{{ asset('css/profile.css') }}">
      <link rel=stylesheet type="text/css" href="{{ asset('css/event_idea.css') }}"> -->
      <link rel=stylesheet type="text/css" href="{{ asset('css/footer.css') }}">

      <link rel=stylesheet type="text/css" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
    {% endblock %}
  </head>

  </head>
  <body>

    {% block body %}
    {% endblock %}

    <footer>
      {{ render(controller("HomeBundle:Home:Footer")) }}
    </footer>

    {% block javascripts %}
      <!-- BOOTSTRAP SCRIPT -->
      <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>

      <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/bootstrap4.min.js') }}"></script>
      <!-- <script type="text/javascript" src="{{ asset('js/myScript.js') }}"></script> -->
      <script type="text/javascript" src="{{ asset('js/formValidation.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/bootstrap-formValidation.min.js') }}"></script>

      <!-- PERSONAL SCRIPTS -->
      <script type="text/javascript" async src="{{ asset('js/jquery.subscribe.js') }}"></script>
      <script type="text/javascript" async src="{{ asset('js/jquery.connect.js') }}"></script>
      <script type="text/javascript" async src="{{ asset('js/jquery.forgotpass.js') }}"></script>
      <script type="text/javascript" async src="{{ asset('js/jquery.contact.js') }}"></script>
      <!-- <script type="text/javascript" async src="{{ asset('js/jquery.listmembers.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.fr.js') }}"></script> -->
      <!-- <script type="text/javascript" src="{{ asset('js/typeahead.bundle.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/typeahead-scroll.js') }}"></script> -->

    {% endblock %}

  </body>
</html>
