<!DOCTYPE HTML>
<html lang="fr">
<head>
  <meta charset="utf-8">
    <title> Gozpeak en Bretagne </title>

    <!-- PERSONAL FONT -->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/typo/noteworthy.ttc') }}">

    <!-- BOOTSTRAP STYLES -->
    <link rel=stylesheet type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <!-- <link rel=stylesheet type="text/css" href=" css/bootstrap.min.css"> -->
    <link rel=stylesheet type="text/css" href="{{ asset('css/bootstrap.min.css') }}">

    <!-- FONT AWESOME -->
    <link rel=stylesheet type="text/css" href="{{ asset('css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.min.css') }}">

    <!-- PERSONAL STYLE -->
    <link rel=stylesheet type="text/css" href="{{ asset('css/generic.css') }}">
    <link rel=stylesheet type="text/css" href="{{ asset('css/modals.css') }}">
    <link rel=stylesheet type="text/css" href="{{ asset('css/home.css') }}">
    <link rel=stylesheet type="text/css" href="{{ asset('css/list.css') }}">
    <link rel=stylesheet type="text/css" href="{{ asset('css/profile.css') }}">
    <link rel=stylesheet type="text/css" href="{{ asset('css/event_idea.css') }}">
    <link rel=stylesheet type="text/css" href="{{ asset('css/footer.css') }}">

    <link rel=stylesheet type="text/css" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">

    <!-- BOOTSTRAP SCRIPT -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/myScript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/formValidation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-formValidation.min.js') }}"></script>

    <!-- PERSONAL SCRIPTS -->
    <script type="text/javascript" async src="{{ asset('js/jquery.subscribe.js') }}"></script>
    <script type="text/javascript" async src="{{ asset('js/jquery.connect.js') }}"></script>
    <script type="text/javascript" async src="{{ asset('js/jquery.forgotpass.js') }}"></script>
    <script type="text/javascript" async src="{{ asset('js/jquery.contact.js') }}"></script>
    <script type="text/javascript" async src="{{ asset('js/jquery.listmembers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.fr.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/titanic.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bodymovin.min.js') }}"></script>
    <!-- <script type="text/javascript" src=" js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src=" js/typeahead-scroll.js"></script> -->
  </head>
  <!-- <?php #require($this->viewFile); ?> -->

  <body>
    {% block navbar %}{% endblock %}
    {% block corpse %}{% endblock %}
    <!-- Footer -->
    <footer>
      <!-- <?php
        if (!empty($ViewFooterPages)) {
          foreach ($ViewFooterPages as $page) {
            require_once($page);
          }
        }
      ?> -->


      {% include 'footer.php' %}
    </footer>

    {% for modal in modals %}
      {% include("./modals/" ~ modal) %}
    {% endfor %}

  </body>
</html>
